@import 
url('https://fonts.googleapis.com/css?family=EB+Garamond&subset=cyrillic,latin-ext');

* {
    box-sizing: border-box;
}

body {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    color: #333;
    margin: 0;
}

header {
    background-color: rgba(149, 151, 145, 0.747);
    height: 80px;
}

.nav-logo {
    color: rgba(249, 253, 17, 0.733);
    font-size: 25px;
    margin: 0;
    padding-left: 15px;
    float: left;
    line-height: 80px;
}

nav ul {
    float: right;
}

.clear {
    clear: both;
}