@import 
url('https://fonts.googleapis.com/css?family=EB+Garamond&subset=cyrillic,latin-ext');

*{
    box-sizing: border-box;
}

body {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    color: #333;
    margin: 0;
}

header{
    background-color: rgba(145, 151, 150, 0.747);
    height: 80px;
}

.nav-logo{
    float: left;
}

nav ul {
    float: right;
}

.clear {
    clear: both;
}